.header {
  display: flex;
  margin: auto;
  justify-content: center;
  color: white;
  /* text-align: center; */
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

/* Names */
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  margin-left: 5px;
  justify-content: space-between;
  max-width: 220px;
  background-color: red;
}
 
/* Input boxes */
.flex-outer > li > label + *,
.flex-inner {
  margin: auto;
  flex: 1 0 220px;
  width: 80%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: blue;
}

.flex-inner li {
  width: 100px;
}

.flex-inner {
  justify-content: space-between;
}




.flex-outer li button {
  align-items: left;
  padding: 8px 16px;
  border: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

body {
  background-color: rgba(139, 107, 166, 1);
}