.header {
  display: flex;
  justify-content: center;
  color: white;
  /* text-align: center; */
}

.flex-outer li, .flex-inner {
  display: flex;
  background-color: pink;
  align-items: center;
  margin-bottom: 15px;
}

.flex-outer input {
  background-color: yellow;
}

.flex-outer label {
  background-color: red;
}

#phon-container {
  margin-bottom: 5px;
}

#msg-container {
  background-color: turquoise;
  margin-bottom: 20px;
}

#msg {
  background-color: gray;
  margin: auto 0px auto 0px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *,
.flex-inner{
  flex: 1 0 220px;
  display: flex;
  max-width: 600px;
}

#age-cont {
  background-color: blue;
  display:flex;
  margin-bottom: 10px;
}

#age-string {
  background-color: grey;
  width: 220px;
  margin-left: 0;
  margin-top: 0px;
}

.flex-inner {
  margin: auto;
  justify-content: space-between;
  background-color: green;
}

.flex-outer li button {
  align-items: left;
  padding: 8px 16px;
  border: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

body {
  background-color: rgba(139, 107, 166, 1);
}